.nav-btn button {
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 50px;
    height: 30px;
    background-color: blue;
    color: white;
    float: right;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
}

.nav-text {
    justify-content: flex-end;

}

.btn {
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 93px;
    height: 30px;
    background-color: blue;
    color: white;
    float: right;
    border: 1px solid black;
    border-radius: 4px;
    width: 174px;
    margin-bottom: 50px;
}

header {
    margin: 0 auto;
    padding-top: 64px;
    width: 352px;
}

body{
    background-color: #ECEEF1;
}

.nav-btn{
    margin-top: 0px;
}

nav {
    display: inline-flex;
    float: right;
}

nav a{
    color: blue;
    
}

/* Form */

form {
    border: 1px solid lightgrey;
    width: 344px;
    padding: 8px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 16px 8px 24px 24px;
}

form a {
    color: blue;
}

.captcha p{
    padding: 4px;
}

.captcha{
    background: lightgray;
    padding-bottom: 10px;
    border-radius: 2px;
    padding: 24px;
}

form h2{
    font-size: 24px;
}

.info {
    color: #5a5a5a;
    margin-bottom: 24px;
    font-size: 15px;
}

form .entries {
    text-align: left;
    font-size: 16px;
}

.entries input {
    width: 324px;
    padding: 5px 0;
    margin-top: 8px;
    height: 16px;
    padding-left: 4px;
}

.entries div {
    margin-bottom: 30px;
} 

.entries div p {
    margin-top: 6px;
    font-size: 12px;
}

/* Bottom Form */

.terms p {
    color: #7E7E7E;
    line-height: 1.8;
    font-size: 15px;
    margin-top: 32px;
    font-style: italic;
}

form .captcha {
    background: #ECEEF1;
    color: #9B9EA1;
    font-size: 10px;
    padding: 8px;
    margin: 28px -8.25px -24px -24px;
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 80px;
}

footer p a{
    padding-right: 20px;
    color: black;
}

a {
    text-decoration: none;
    font-size: 12px
}

