.firstpart{
    display: flex;
    justify-content: right;
}

form {
    border: 1px solid black;
    width: 488px;
    text-align: center;
    margin: 0 auto;
}


.captcha{
    background: lightgray;
}