.nav-text {
    display: flex;
    justify-content: flex-end;
}

#firstpart button {
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
    background-color: blue;
    color: white;
}

#firstpart p{
    margin-block-end: 0;
}

#firstpart a{
    color: blue;
}

form {
    border: 1px solid black;
    width: 360px;
    text-align: center;
    margin: 0 auto;
}

form a{
    color: blue;
}

.captcha{
    background: lightgray;
}

footer{
    text-align: center;
}

footer p a{
    padding-right: 20px;
    color: black;
}

a {
    text-decoration: none;
}

